<div class="employee-medical-wrapper">
  <h2 class="page-title">Employee Medical Details</h2>


  <div
    *ngIf="loading"
    class="bg-white/40 flex flex-col items-center justify-center z-50"
  >
    <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-800 border-solid"></div>
    <p class="mt-4 text-black text-lg">Loading..</p>
  </div>


  <div *ngIf="hasError && !loading" class="error-message-container">
    <app-error-message></app-error-message>
  </div>



  <div class="flex justify-between items-center mb-4"  *ngIf="!loading && !hasError">
    <button mat-raised-button  (click)="openModal()" class="add-medical-btn">
     + Add Medical Detail
    </button>
    <span class="font-semibold Dependents">Total Dependents:
       <span class="text-red-600">{{ getTotalDependents() }}</span></span>
  </div>

  <div class="table-container" *ngIf="!loading && !hasError">
  
    <div class="search-bar-container mb-4 text-left">
      <input
        type="text"
        placeholder="Search by Poicy name"
        class="quick-filter-input border px-3 py-2 rounded shadow-sm " style="color: black!important;"
        (input)="onQuickFilterChanged($event)"
      />
    </div>

   
    <div *ngIf="!loading && rowData.length === 0" class="text-center text-gray-700 mt-4 no-record-text">
      No employee records found!
    </div>


    <div
      *ngIf="!loading && !hasError && rowData.length > 0"
      class="responsive-grid-wrapper"
    >
      <ag-grid-angular
      [context]="{ componentParent: this }"
        class="ag-theme-quartz employee-grid"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [animateRows]="true"
        [pagination]="true"
        [paginationPageSize]="5"
        [paginationPageSizeSelector]="false"
        [domLayout]="'normal'"
        [quickFilterText]="quickFilterValue"
        style="width: 100%"
      ></ag-grid-angular>
    </div>
  </div>
</div>





