@import "tailwindcss";

body {
  --background-color: #fafafa;
  --text-color: #242323;
}

body.dark-theme {
  --background-color: #1b3a64fd;
  --text-color: #f2f4f6;
}

.test-box {
  background-color: var(--background-color);
  color: var(--text-color);
}








